async-timeout==5.0.1
bidict==0.23.1
blinker==1.9.0
click==8.3.0
colorama==0.4.6
dnspython==2.8.0
email-validator==2.3.0
eventlet==0.33.3
Flask==3.0.0
Flask-Login==0.6.3
Flask-SocketIO==5.3.5
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
flask-restx
greenlet==3.2.4
gunicorn==21.2.0
h11==0.16.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
Pillow==12.0.0
psycopg2-binary==2.9.11
pypng==0.20220715.0
python-dotenv==1.0.0
python-engineio==4.12.3
python-socketio==5.14.3
pytest==8.3.3
pytest-cov==5.0.0
qrcode==7.4.2
redis==5.0.1
reportlab==4.0.7
simple-websocket==1.1.0
six==1.17.0
SQLAlchemy==2.0.44
typing_extensions==4.15.0
Werkzeug==3.0.1
waitress==3.0.0
wsproto==1.2.0
WTForms==3.2.1
